@charset "UTF-8";
/*
 * c : color
 * fs: font-size
 * sp: space
 * cb: background color
 * fc: font color
*/
.u-btn {
  padding: 3px 10px;
  border-radius: 3px !important;
  border: 1px solid #2583cb;
  color: #2583cb;
  background-color: #fff; }
  .u-btn:hover {
    color: #fff;
    background-color: #2583cb; }
  .u-btn:active, .u-btn:focus {
    outline: none; }

.u-btn_cancel {
  padding: 3px 10px;
  border-radius: 3px !important;
  border: 1px solid #999;
  color: #999;
  background-color: #fff; }
  .u-btn_cancel:hover {
    color: #fff;
    background-color: #999; }
  .u-btn_cancel:active, .u-btn_cancel:focus {
    outline: none; }

.u-btn_warning {
  padding: 3px 10px;
  border-radius: 3px !important;
  border: 1px solid #ff9900;
  color: #ff9900;
  background-color: #fff; }
  .u-btn_warning:hover {
    color: #fff;
    background-color: #ff9900; }
  .u-btn_warning:active, .u-btn_warning:focus {
    outline: none; }

.u-btn_error {
  padding: 3px 10px;
  border-radius: 3px !important;
  border: 1px solid #ff0000;
  color: #ff0000;
  background-color: #fff; }
  .u-btn_error:hover {
    color: #fff;
    background-color: #ff0000; }
  .u-btn_error:active, .u-btn_error:focus {
    outline: none; }

.u-btn_success {
  padding: 3px 10px;
  border-radius: 3px !important;
  border: 1px solid #090;
  color: #090;
  background-color: #fff; }
  .u-btn_success:hover {
    color: #fff;
    background-color: #090; }
  .u-btn_success:active, .u-btn_success:focus {
    outline: none; }

.u-btn.u-radius,
.u-btn_cancel.u-radius,
.u-btn_warning.u-radius,
.u-btn_error.u-radius,
.u-btn_success.u-radius {
  border-radius: 15px !important; }

.u-btn[disabled],
.u-btn_cancel[disabled],
.u-btn_warning[disabled],
.u-btn_error[disabled],
.u-btn_success[disabled] {
  background-color: #bbb;
  border-color: #bbb;
  color: #fff;
  cursor: not-allowed; }
  .u-btn[disabled]:hover,
  .u-btn_cancel[disabled]:hover,
  .u-btn_warning[disabled]:hover,
  .u-btn_error[disabled]:hover,
  .u-btn_success[disabled]:hover {
    background-color: #bbb;
    border-color: #bbb;
    color: #fff; }

.u-info {
  color: #999; }

/*提示色*/
.u-error {
  color: #ff0000; }

.u-warning {
  color: #ff9900; }

.u-success {
  color: #090; }

.u-normal {
  color: #2583cb; }

.u-na {
  color: #bbb; }

/*空表格行*/
.u-empty_tr {
  color: transparent; }

.text-r {
  text-align: right; }

.text-c {
  text-align: center; }

.text-l {
  text-align: left; }

/*表格字体图标样式*/
.hideFlag {
  display: none; }

.showFlag {
  color: #999;
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 5px;
  font-size: 8px; }
